
{% extends 'base.html' %}

{% block title %}TRANSACTION{% endblock %}

{% block content %}

<div class = "container" >



    <br/>
        <h1>Transaction</h1>

{% if error_statement %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> {{ error_statement  }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}




<form method="post" action={{ url_for('transaction') }}>


      <div class="form-group">
      <label class="form-label">客戶ID</label>
      <input type="text" class="form-control" placeholder="請輸入客戶ID" name="CID" value = {{    CID  }} >
      </div>
      <br/>
      <div class="form-group">
      <label class="form-label">櫃位ID</label>
      <input type="text" class="form-control" placeholder="請輸入櫃位ID" name="COID" value = {{    COID  }} >
      </div>
      <br/>
      <div class="form-group">
      <label class="form-label">消費金額</label>
      <input type="number" value="0" min = "0" max = "1000000" step = "1" class="form-control" placeholder="請輸入消費金額" name="AMOUNT"   value = {{    AMOUNT  }}>
      </div>
      <br/>
      <div class="form-group">
      <label class="form-label">付款方式</label>
        <select  name="PAY_TYPE">
          <option value="信用卡">信用卡</option>
          <option value="現金">現金</option>
          <option value="禮卷">禮卷</option>
          <option value="電子支付">電子支付</option>
          <option value="商品卷">商品卷</option>
        </select>

        </div>

      <br/><br/>
      <button type="submit" class="btn btn-secondary">新增記錄</button>
  </form>


</div>
{% endblock %}